[package]
name = "gsh"
version = "0.0.7"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest = "0.11.18"
futures = "0.3"
tokio = { version = "1.12.0", features = ["full"] }
colored = "2.0.4"
termion = "2.0.1"
